Thumbs.db
.vs
RebuildClient/Build/
RebuildClient/Library/
RebuildClient/Temp/
RebuildClient/obj/
RebuildClient/*.csproj
RebuildClient/*.sln
RebuildClient/*.suo
RebuildClient/*.DotSettings
RoRebuild/RebuildZoneServer/obj/
RoRebuild/RebuildZoneServer/bin/
RoRebuild/RebuildData.Server/obj/
RoRebuild/RebuildData.Server/bin/
RoRebuild/RebuildData.Shared/obj/
RoRebuild/RebuildData.Shared/bin/
RoRebuild/Libraries/obj/
RoRebuild/Libraries/bin/
RoRebuild/RebuildZoneServer/Data/~$ServerData.xlsx
RoRebuild/DataToClientUtility/bin/
RoRebuild/DataToClientUtility/obj/
RoRebuild/RebuildZoneServer/Data/~$GameData.xlsx
RebuildClient/Assets/Data/monsterclass.json
RebuildClient/log.txt
